

.s1{

    height: 180px;
    width: 100%;
    position: relative;
    padding: 10px 10px;
    float: left;
}

.s11{
    height: auto;
    width: 100%;
    position: absolute;
    top: 10%;
    display: block;
    right: 50px;

}

h1{
    text-align: center;
}

.s11 > p{
    text-align: center;
    white-space: pre-wrap;
    line-height: 15px;

}

.picture{
    height: auto;
    position: absolute;
    display: block;
    right: 0;
    top: 10%;
}

.s2{

    height: auto;
    width: 100%;
    position: relative;
    float: left;
}

.s3{
    background-color: #58b244;
    height: 340px;
    width: 100%;
    position: relative;
    float: left;
}

.s4{
    background-color: #132303;
    height: 120px;
    width: 100%;
    position: relative;
    float: left;
}
h2{
    color: #0e87ac;

}
hr{
    height: 1.5px;
    background-color: #168baf;
    position: relative;
    top: -10px; /* 向下移动 */
}

.text-paragraph{
    height: auto;

}
.text-paragraph1>h3{
    color: #333333;
    display: inline-block;


}
.text-paragraph1>p{
    display: inline-block;
    position: relative;
    left: 6px;
    color: #556c7d;
}
.text-paragraph1{
    line-height: 5px;
    height: auto;
}